.boton{
  font-size: 20px;
  border-radius: 12px;
  background-color: rgb(0, 162, 255);
  color: white;
  width: 125px;
  border:1px solid green;
}
.cajastexto{
  font-family: sans-serif; 
  font-size: 18px; 
  font-weight: 400; 
  color: #000000; 
  background-color:#eeeeee;
  border-radius: 12px;
  width: 200px;
}
h2 {
  font-size: 18px; 
}